:root {
  --basic-black: #000000;
  --basic-extra-dark: #242424;
  --basic-darck: #aba9a7;
  --basic-nautral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;
  --special: #663d15;
}

.page {
  width: 1005;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-black);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-off{
  display: none !important ;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.inner-page .main-header {
  background-color: var(--basic-black);
}

.inner-page .main-navigation {
  display: grid;
  grid-template-columns: 170px 1fr min-content;
}

.inner-page .main-header-logo {
  order: 0;
}

.main-header {
  margin-bottom: 70px;
}

.main-header-logo {
  order: 1;
  justify-self: center;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;
  display: grid;
  min-height: 72px;
  align-items: center;
}

.main-navigation-wraper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-bar {
  display: flex;
  background-color: var(--basic-black);
  min-height: 72px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-navigation-current{
  position: relative;
}

.site-navigation-current::after{
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--basic-white);
  position: absolute;
  bottom: 0;
}
ß

.user-navigation .login-link{
  padding-left: 50px;
  position: relative;
}

.user-navigation .login-link::before{
  content: '';
  width: 16px;
  height: 18px;
  background-image: url(../img/loginmenu.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top:27px;
  left: 24px;
  opacity: 0.3;
}


.site-navigation a,
.user-navigation a {
  padding: 25px 20px;
  display: block;
  color: var(--basic-white);
}

.user-navigation .login-link:hover::before,
.user-navigation .login-link:focus::before{
  opacity: 1;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-extra-dark);
}

.features {
  margin-bottom: 80px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.features-items {
  text-align: center;
}

.features-items p {
  margin: 0 10px;
}

.features-items h3 {
  font-size: 30px;
  line-height: 42px;
  position: relative;
  margin-bottom: 59px;
}

.features-items h3::after{
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--basic-white);
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  bottom: -30px;
  margin-left: -10px;
}

.index-colums {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: 
    url('../img/shape.png'),
    url("../img/patern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat,repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 35px;
}

.index-colums:last-child{
  margin-bottom: 65px;
}

.index-colums h2 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
}

.news{
  margin:47px 47px 48px 80px;

}

.news-list {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.news-items{
  margin-bottom: 23px;
}

.news h2{
  margin-bottom: 19px;
}

.news p {
  margin: 0;
}

.news .button{
  display: flex;
  width: 140px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.gallery{
  margin: 47px 87px 48px 89px;
}

.gallery-container{
  height: 260px;
  position: relative;
}

.gallery-content {
  background-color: var(--basic-darck);
  border: 7px solid var(--basic-white);
  margin: 0;
  padding: 0;
  width: 286px;
  height: 164px;
}

.gallery-button{
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 140px;
  height: 44px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.contacts{
  margin:47px 47px 48px 80px;
}

.contacts .button{
  display: inline-flex;
  width: 140px;
  height: 44px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.contacts h2{
  margin-bottom: 19px;
}

.contacts p{
  margin: 0;
  margin-bottom: 23px;
}

.appointment{
  margin: 47px 87px 48px 89px;
}

.appointment-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 140px;
  margin-top: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-form .button{
  margin-top: 10px;
  width: 100%;
  height: 44px;
}


.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-black);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}

.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("../img/patern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
}

.breadcrumb{
 margin-right: 40px;
 position: relative;

}

.breadcrumb::after{
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: var(--basic-black);
  position: absolute;
  right: -25px;
  top: 7px;
 }
.breadcrumb-current::after{
  display: none;
}


.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumb-current {
  color: var(--basic-darck);
}

.filters form{
  display: grid;
  grid-template-rows: auto;
  gap: 51px;
}

.filters fieldset{
  border: none;
  padding: 0;
}

.filters legend {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.filter-option{
  margin-bottom: 19px;
  padding-left: 43px;
  position: relative;
}

.filter-option:last-child{
  margin-bottom: 0;
}

.filter-checkbox label::before{
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 2px solid var(--basic-black);
  left:0;
}


.filter-checkbox input:checked + label::after{
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  left:3px;
  top: 3px;
}

.filter-radio label::before{
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 2px solid var(--basic-black);
  border-radius: 100%;
  left:0;
}


.filter-radio input:checked + label::after{
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 100%;
  left:5.5px;
  top: 5px;
}

.filter-input-checkbox:hover + label,
.filter-input-chekbox:focus + label {
  color: var(--special);
}

.filter .button{

  width: 112px;
  min-height: 43px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.catalog {
  margin-left: 60px;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.catalog-item {
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;

}

.catalog-item:nth-child(3n){
  margin-right: 0;
}



.catalog-item a {
  display: flex;
  flex-direction: column-reverse;
  color: var(--basic-black);
}


.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  margin: 14px 16px 12px 16px;
}


.catalog-item-price{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  min-width: 187px;

}

.catalog-item-price b {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-nautral);
  flex-grow: 1;
}

.catalog-item-price button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  min-height: 43px;
  line-height: 20px;
  color: var(--basic-white);
}

.pagination-list {
  list-style: none;
  display: flex;
}



.pagination-item a {
  display: flex;
  width: 43px;
  height: 43px;
  color: var(--basic-white);
  background-color: var(--basic-black);
  align-items: center;
  justify-content: center;
  margin: 7px;
}

.pagination-item a:focus,
.pagination-item a:hover,
.pagination-item a:active {
  background-color: var(--special);
}

.pagination-item-current a,
.pagination-item-current a:focus,
.pagination-item-current a:active,
.pagination-item-current a:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.contact-phone {
  color: inherit;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  width: 140px;
  height: 43px;
  box-sizing: border-box;
}

.appointment-item input:focus {
  border-color: var(--special);
}

.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-extra-dark);
  background-image: url("../img/patern-black.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  padding-top: 59px;
  padding-bottom: 38px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  width: 320px;
  margin: 0px;
}
.footer-contacts p {
  margin: 0;
}

.footer-contacts a {
  color: var(--basic-white);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
  justify-self: center;
  width: 145px;
  
}

.footer-social ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

}

.footer-social h2 {
  font-size: 14px;
  margin: 0;
}

.social-button {
  color: inherit;
  display: flex;
  width: 43px;
  height: 43px;
  background-color: var(--basic-black);
  justify-content: center;
  align-items: center;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.social-button:hover svg path,
.social-button:focus svg path{
  fill:var(--basic-black);
}


.footer-copyright {
  width: 150px;
  margin: 0;
  justify-self: end;
  text-align: center;
  justify-content: center;
}

.footer-copyright .button{
  display: flex;
  width: 140px;
  height: 43px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 12px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("../img/patern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-black);
}

.login-form input:focus {
  border-color: var(--special);
}

.login-icon-user {
  background-image: url("../img/login.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background-image: url("../img/password.svg");
  background-repeat: no-repeat;
  background-position: 270px center;
}

.restore {
  color: var(--basic-black);
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.product-photo-preview {
  list-style: none;
}

.product-photo-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview li:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.product-photo-full {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 20px;
}

.product-article {
  text-align: right;
  color: var(--basic-darck);
}

.product-price b {
  text-align: center;
  line-height: 20px;
  background-color: var(--basic-nautral);
}

.product-info {
  width: 390px;
  padding-top: 23px;
  padding-left: 80px;
}

.product-info p {
  margin: 0;
}

.product-description p {
  width: 200px;
}

.product-description {
  padding-right: 10px;
  margin-bottom: 29px;
}

.product-info .product-text {
  margin-bottom: 35px;
}
.product-info .product-price {
  margin-bottom: 63px;
}

.product-price .button {
  padding-right: 17px;
  padding-left: 17px;
}

.product-info h3 {
  line-height: 30px;
  font-size: 24px;
  margin: 0;
  margin-bottom: 27px;
}

.product-info ul {
  list-style: none;
}

.product-info li {
  position: relative;
}

.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
}

.page-catalog .page-title {
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.page-catalog .breadcrumbs {
  grid-column: 1/-1;
  margin-bottom: 40px;
}

.page-product {
  display: grid;
  grid-template-columns: 460px 1fr;
  align-content: start;
}

.page-product .page-title {
  grid-column: 1/-1;
}

.page-product .breadcrumbs {
  grid-column: 1/-1;
  margin-bottom: 40px;
}

.price-title{
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.price-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 63px;
  padding-bottom: 78px;
}

.price-wraper h2{
  font-weight: 700px;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 27px;
}


.price-us{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
}

.price-us h2{
  grid-column: 1/-1;
}

.price-table{
  border: 2px solid var(--basic-black);
  margin-top: 7px;
  border-spacing: 0 0;
}

.price-table td{
  width: 231px;
  height: 43px;
  border: 2px solid var(--basic-black);
  
}

.price-table td:nth-child(odd){
  width: 231px;
  min-height: 43px;
  border: 2px solid var(--basic-black);
  padding-left:19px;
  
}



.price-table td:nth-child(even){
  width: 231px;
  min-height: 43px;
  border: 2px solid var(--basic-black);
  text-align: center;
  
}

.price-use{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.price-use h2{
  justify-self: flex-start;
}

.price-use ul{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.price-use li{
  margin-bottom: 13px;
}

.price-use li:last-child{
  margin-bottom: 0;
}

.price-us p{
  max-width: 390px;
  text-align: left;
}

